$primaryColor: #eeccff;
$secondaryColor: #aaaaff;

$backgroundColor: #1abc9c;


$lightGrey: #444444;
$darkGrey: #222222;
$flesh: #ffbcaa;
$blue: #2222DD;
$pink: #ff77ff;
$green: #22AA11;
$yellow: #FFFF00;
$red: #FF2233;

$warning: #e74c3c;
