<section class="full">
    <!-- content layer placed over background -->
    <section class="full content">
        <!--THE INSTRUCTIONS-->
        <div class="instructions" ng-controller="Instructions as instructions">
            <h4 ng-if='!master.checked' class="center-text"><strong>Magic Square Puzzle</strong></h4>
            <h6 ng-if='!master.checked' class="center-text">{{instructions.instructions}}</h6>
            <h4 class="center-text" ng-if="master.checked && master.allCorrect" style="margin-top:5px">Well done all correct!</h4>
            <h4 class="center-text" style="margin-top:20px"
            ng-if='master.checked && master.complete && !master.allCorrect'>Try again!</h4>
        </div>


        <div class="game-container">
            <!--THE WHOLE `DRAG DROP` AREA-->
            <div ng-if="true" class="drag-drop parent" ng-controller="DragDrop as dragDrop">
                <!--DROP-->
                <div ng-if="true" class="drop-zone parent">
                    <div ng-if="true" class="drop-board">
                        <ul ng-if="true" class="triple drop-container">

                            <li ng-if="true" class="square drop-slot" ng-repeat="drop in dragDrop.dropTargets track by $index">
                                <!--button-->
                                <div ng-if="true" class="btn-droppable square" data-drop="true" ng-model='dragDrop.selectedItems'
                                jqyoui-droppable="{index: {{$index}}, onDrop:'dragDrop.dropCallback($index)',onOver: 'dragDrop.overCallback(data-drag)', onOut: 'dragDrop.outCallback($index)'}">
                                    <div ng-if="true" class="btn btn-info square btn-draggable"
                                    ng-show="dragDrop.selectedItems[$index].title"
                                    data-drag="{{dragDrop.selectedItems[$index].drag}}"
                                    data-jqyoui-options="{revert: 'invalid'}"
                                    ng-model="dragDrop.selectedItems"
                                    jqyoui-draggable="{index: {{$index}},placeholder:true,animate:false}">
                                    <span class="drag-text"><h1 class="outline">{{dragDrop.selectedItems[$index].title}}</h1></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--ROW-INDICATOR-->
                <div ng-if="master.hint" class="drop-zone drop-zone-overlay drop-zone-overlay-one">
                    <ul class="single drop-board">
                        <li class="drop-display" ng-repeat="drop in dragDrop.dropTargets | pick: master.mod3">
                            <div ng-if="false" class="row-indicator row-indicator-left">
                                <h3>{{dragDrop.getRowTotal(drop.value)}}</h3>
                            </div>
                            <div class="row-indicator row-indicator-right row-indicator-bottom">
                                <h3>{{dragDrop.getRowTotal(drop.value)}}</h3>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--COLUMN-INDICATOR-->
                <div ng-if="master.hint" class="drop-zone-overlay drop-zone-overlay-two">
                    <ul class="drop-board triple column-dropboard">
                        <li class="square drop-slot-empty" ng-repeat="drop in dragDrop.dropTargets | pick: master.mod3">
                            <div class="column-indicator column-indicator-top">
                                <h3>{{dragDrop.getColumnTotal(drop.value)}}</h3>
                            </div>
                            <div ng-if="false" class="column-indicator column-indicator-bottom">
                                <h3>{{dragDrop.getColumnTotal(drop.value)}}</h3>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--DIAGONAL-INDICATOR-->
                <div ng-if="master.hint" class="drop-zone-overlay drop-zone-overlay-three">
                    <ul class="drop-board">
                        <li class="square drop-slot-empty" ng-repeat="drop in dragDrop.dropTargets | first: 2">
                            <div ng-if="drop.value !== 0" class="column-indicator column-indicator-diagonal"
                                 ng-class="drop.value === 0 ? 'diagonal-left' : 'diagonal-right'">
                                <h3>{{dragDrop.getDiagonalTotal(drop.value)}}</h3>
                            </div>

                            <div ng-if="drop.value !== 0" class="column-indicator column-indicator-diagonal column-diagonal-bottom"
                                 ng-class="drop.value === 0 ? 'diagonal-left' : 'diagonal-right'">
                                <h3>{{dragDrop.getDiagonalTotalReverse(drop.value)}}</h3>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--DRAG-->
                <div ng-if="true" class="drag-container drag-home">
                    <!--btn-droppable -->
                    <div class="button btn-droppable square btn-drag"
                         ng-repeat="item in dragDrop.dragItems track by $index" data-drop="true"
                         ng-model='dragDrop.dragItems' jqyoui-droppable="{index: {{$index}}}">
                        <div ng-if="true" class="button btn-info btn-draggable square" data-drag="{{item.drag}}"
                             data-jqyoui-options="{revert: 'invalid'}" ng-model="dragDrop.dragItems"
                             jqyoui-draggable="{index: {{$index}},placeholder:true,animate:false, onStart:'dragDrop.startCallback(item, $index)', onStop: 'dragDrop.stopCallback', onDrag: 'dragDrop.dragCallback'}"
                             ng-hide="!item.title"><span class="drag-text"><h1 class="outline">{{item.title}}</h1></span>
                        </div>
                    </div>
                </div>

                <!--DRAG OUTLINES-->
                <div ng-if="true" class="drag-container drag-home-bgd">
                    <div class="button btn-droppable btn-drag square"
                         ng-repeat="item in dragDrop.dragItems track by $index">
                        <div class="button drag-slot-empty square"></div>
                    </div>
                </div>
            </div>
        </div>


        <!--CONTROLS-->
        <div ng-if="true" class="game-controls parent">
            <div style="width: 90%;">
                <!--keep this span for checking code only-->
                <span ng-if="false">complete {{master.complete}}, selected {{master.selected}}, checked {{master.checked}} hint {{master.hint}}</span>

                <button class="button button-small btn-info ctrl-btn" type="submit" ng-click="master.check()"
                        ng-disabled="!master.complete || master.checked">Check
                </button>
                <button class="button button-small btn-info ctrl-btn" type="submit" ng-click="master.clear()"
                        ng-disabled="!master.selected > 0">Clear
                </button>
                <button class="button button-small btn-info ctrl-btn" type="submit"
                        ng-click="master.hint =! master.hint">Hint
                </button>
            </div>
        </div>
    </section>
</section>



