/* font styles ----------- */
h6 {
    font-size: 14px;
}

/* positioning */

/* flex box centering ----------- */
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    position: relative;
    width: 100%;
    text-align: center;
    border: solid 1px red;
}

/* UI - game containers ----------- */

/* The main game container -----------
    ( 600px x 600px was the original size )
*/
.game-container {
    position: relative;
    margin-top: 5px;
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    border: solid 1px darkblue;
    background-color: rgba(254, 254, 255, 0.5);

    /*background-color: rgba(100,100,100,0.05);*/
}

/* for smaller size

.game-container{
        width: 300px;
        height: 300px;
        background-color: rgba(50, 50, 50, 0.5)
    }

    .square {
        width: 38px;
        min-height: 38px;
    }

    .drop-slot {
        width: 38px !important;
        height: 38px !important;
    }

    */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
    /* Styles */
    .game-container {
        width: 300px;
        height: 300px;
    }

}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width: 321px) {
    /* Styles */
    .game-container {
        width: 300px;
        height: 300px;
    }

}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width: 320px) {
    /* Styles */
    .game-container {
        width: 300px;
        height: 300px;
    }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width: 1224px) {
    /* Styles */
    /* keep dimensions */
}

/* Large screens ----------- */
@media only screen
and (min-width: 1824px) {
    /* Styles */
    /* keep dimensions */
}

/* ----------- iOS ----------- */

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    /* Styles */
    /* re-size dimensions */
    .game-container {
        width: 600px;
        height: 600px;
    }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
    /* Styles */
    .game-container {

        background-color: rgba(250, 50, 0, 0.5)
    }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
    /* Styles */
    .game-container {

        background-color: rgba(50, 50, 250, 0.75)
    }
}

/* iPhone 3g -----------*/
@media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1) {
    /* Styles */
    .game-container {
        width: 300px;
        height: 300px;

        background-color: rgba(100, 200, 250, 1)
    }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
    .game-container {
        background-color: rgba(100, 175, 210, 0.5)
    }
}

/* iPhone 5 ----------- */
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    .game-container {
        background-color: rgba(100, 175, 25, 0.5)
    }
}

/* iPhone 6 ---------- */
@media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
    .game-container {
        background-color: rgba(250, 150, 230, 0.5)
    }
}

/* iPhone 6 Plus ---------- */
@media screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
    .game-container {
        background-color: rgba(250, 30, 250, 0.5)
    }
}