/*special font*/

@font-face {
    font-family: 'fredoka_oneregular';
    src: url('../fonts/fredokaone-regular-webfont.eot');
    src: url('../fonts/fredokaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fredokaone-regular-webfont.woff2') format('woff2'),
    url('../fonts/fredokaone-regular-webfont.woff') format('woff'),
    url('../fonts/fredokaone-regular-webfont.ttf') format('truetype'),
    url('../fonts/fredokaone-regular-webfont.svg#fredoka_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* font styles ----------- */
h1 {
    font-size: 60px;
}
h3 {
    font-size: 11px;
    word-break: keep-all;
    color: #1c160d;
}
h4 {
    font-size: 22px;
    font-family: 'fredoka_oneregular';
    color: #1c160d;
}
h6 {
    font-size: 14px;
    font-family: 'fredoka_oneregular';
    color: #1c160d;
}

/*see: http://stackoverflow.com/questions/4919076/outline-effect-to-text*/
.outline {
    color: #fff;
    text-shadow: #000 0px 0px 1px;
    text-shadow: #000 0px 0px 1px;
    text-shadow: #000 0px 0px 1px;
    text-shadow: #000 0px 0px 1px;
    text-shadow: #000 0px 0px 1px;
    text-shadow: #000 0px 0px 1px;
    text-shadow: #000 0px 0px 1px;

    -webkit-font-smoothing: antialiased;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
    color: white;
}

.grey {
    background-color: grey;
}

pre strong {
    font-size: 12pt;
}

/* positioning */

/* flex box centering ----------- */
.parent {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*-webkit-box-pack: start;*/
    /*-moz-box-pack: start;*/
    /*-webkit-flex-pack: start;*/
    /*-ms-flex-pack: start;*/
    /*-webkit-justify-content: flex-start;*/
    /*justify-content: flex-start;*/

    justify-content: center;
    align-items: center;
}

.child {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/

}

.center-text {
    position: relative;
    width: 100%;
    text-align: center;
    /*border: solid 1px red;*/
}

/* UI - game containers ----------- */

/* The main game container -----------
    ( 600px x 600px was the original size )
*/
.game-container {
    position: relative;

    width: 600px;
    height: 600px;

    padding: 0;
    margin: 0 auto;

    /*border: solid 4px darkblue;*/
    background-color: rgba(254, 254, 255, 0.25);

    z-index: 1;
}

.instructions {
    position: absolute;
    display: block;
    margin: 0;
    width: 100%;
    height: 76px;

    z-index: 2;

    /*border: dashed 1px darkred;*/
    background-color: rgba(100, 100, 200, 0.1);
}

.game-controls {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;

    z-index: 3;

    /*border: solid 1px gold;*/

    background-color: rgba(0, 75, 125, 0.05);
}

.drag-drop {
    position: relative;
    display: block;
    top: 75px;
    left: 0;
    width: 600px;
    height: 480px;

    border: solid 3px darkgreen;
}

.drop-zone {
    margin: 0 auto;
    width: 90%;

    height: 290px;

    z-index: 1;

    border: solid 4px slategrey;
    background-color: olive;
    opacity: 0.2;
}

.drop-zone-overlay {
    position: absolute;
    top: 0;
    left: 5%;

    border: solid 1px darkred;
}

.drop-zone-overlay-one {
    z-index: -1;
    /*border: solid 1px darkred;*/
}

.drop-zone-overlay-two {
    z-index: -2;

    /*border: solid 1px darkblue;*/
}

.single {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 290px;

    /*border: solid 1px darkred;*/
}

/* Shared container */
.drag-container {
    display: block;
    position: absolute;

    width: 100%;
    margin: 0 auto;
    height: 190px;

    /* hackey positioning */
    padding: 2px 32px;

    border: solid 1px white;
}

.drag-home {
    z-index: 5;

    border: solid 4px white;
    background-color: rgba(255, 69, 0, 0.1);
}

.drag-home-bgd {
    z-index: -4;
    border: solid 4px goldenrod;
}

.drop-board {
    display: block;
    position: relative;

    width: 300px;
    height: 100%;

    margin: 0 auto;

    z-index: 3;

    border: solid 2px #111;

    background-color: rgba(218, 112, 214, 1);
}

/* game elements*/
.square {
    width: 75px;
    min-height: 75px;
}

.drop-slot {
    display: inline-block;
    border: dotted 1px darkgreen;

    margin: 5px;
    width: 75px;
    height: 75px;
}

.drop-container {
    display: block;
    position: relative;

    width: 259px;
    height: 259px;

    margin: 9px auto;

    /*  TODO work out z-index! */
    z-index: 4;
}

.btn-droppable {
    padding: 0;
    z-index: -1;
    /*hack so drag item fits over*/
    margin-top: -2px;
    margin-left: -2px;
    cursor: default;
}

.button-draggable {
    margin-left: 10px;
    margin-bottom: 18px;
}

.btn-draggable {
    z-index: 1;
    padding: 0;
    cursor: move;
}

/* a confusing style for the margin only? */
.btn-drag {
    margin: 5px;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    text-align: center;
    font-weight: bold;
}

.drag-text {
    width: 75px;
    height: 75px;
    line-height: 75px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center; /* align horizontal */
    -webkit-align-items: center;
    align-items: center; /* align vertical */

    border: solid red 1px;
}

.ctrl-btn {
    display: inline-block;
    float: right;
    margin-right: 5px;
}

/*hack display for the totals*/
.drop-display {
    display: block;
    border:1px #999 solid;
}

.row-indicator {
    position: absolute;
    width: 20px;
    height: 75px;
    /* really hacky now */
    padding-top: 20px;
    margin-top: 20px;

    border:2px #229 solid;
    background-color: rgba(218, 10, 114, 0.75);
}


.row-indicator-left {
     margin-top: 30px;
 }
.row-indicator-right {
    margin-top: 30px;
    right: 0;
}
.column-dropboard {
  margin-left: 140px;
}

.column-indicator {
    margin-top: -8px;
    width: 100px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    border:2px #229 solid;
}

.column-indicator h3 {
    width: 40px;
    border:1px #229 solid;
}
.column-indicator p{
    margin-top: -28px;

    border:1px #229 solid;
}
.column-indicator-bottom {
    margin-top: 190px;

    border:1px #229 solid;
}
.column-indicator-bottom h3 {
    margin-top: 58px;
}



.diagonal-left {
    margin-left: 0;
}

.diagonal-right {
    border:1px #A29 solid;
}

.column-indicator-diagonal {
    margin-left: 100px;
}

.column-diagonal-bottom {
    /*margin-top: 190px;*/
    border:1px #D29 solid;
}

.column-diagonal-bottom h3 {
    /*margin-top: 190px;*/
    margin-top: 235px;
}
.diagonal-left h3 {
    margin-left: 120px;
}
.diagonal-right h3 {
    margin-left: 320px;

    border:1px #A29 solid;
}


/* --- */



/*------------------------------------*\
    LISTS
    See: http://csswizardry.com/2010/02/mutiple-column-lists-using-one-ul/
\*------------------------------------*/
ul {
    overflow: visible;
    border: 2px solid #a32d00;

    background-color: rgba(118, 210, 114, 0.75);
}

li {
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    height: 75px;
    border-bottom: 1px solid #ccc;
    float: left;
    display: inline;
}

.single li	{ width:100%;}

.triple li {
    width: 33.333%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
    /* Styles */
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 12px;
    }
    li {
        line-height: 0.80em;
        height: 48px;
    }
    .game-container {
        margin-top: 38px;
        width: 300px;
        height: 300px;
    }
    .instructions {
        height: 38px;
        top: 0;
    }

    .drag-drop {
        top: 35px;
        width: 300px;
        height: 240px;
    }
    .drop-zone {
        height: 145px;
    }
    .drag-home {
        height: 95px;
    }

    .drop-board {
        width: 150px;
    }
    .drop-container {
        width: 138px;
        height: 138px;
        margin: 0 auto;
    }
    .button {
        min-width: 40px;
    }
    .btn-drag {
        margin: 0;
    }
    .row-indicator {
        width: 10px;
        height: 40px;
        padding-top: 10px;
        margin-top: 10px;
    }
    .row-indicator-left {
        margin-top: 0;
    }
    .row-indicator-right {
        margin-top: 0;
        right: 0;
    }
    .column-indicator {
        margin-top: -8px;
        width: 30px;
        margin-left: -65px;
        margin-right: 0;
    }
    .column-indicator p{
        margin-top: -20px;
    }
    .column-indicator-bottom {
        margin-top: 80px;
    }
    .column-indicator-bottom h3 {
        margin-top: 45px;
    }
    .column-indicator-diagonal {
        margin-left: 100px;
    }
    .diagonal-left h3 {
        margin-left: -75px;
    }
    .diagonal-right h3 {
        margin-left: 40px;
    }
    .column-diagonal-bottom h3 {
        margin-top: 114px;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width: 321px) {
    /* Styles */
    h1 {
        font-size: 30px;
    }
    h4 {
        margin: 0 auto;
    }
    h6 {
       font-size: 14px;
       margin: 0 auto;
       /*padding-left: 10px;*/
       /*padding-right: 10px;*/
    }
    .center-text {
        width: 100%;
        text-align: center;
        /*border: solid 1px blue;*/
    }
    .game-container {
        margin-top: 0;
        width: 300px;
        height: 300px;
    }

    .instructions {
        height: 38px;
        top: 0;
    }

    .drop-board {
        width: 150px;
    }

    .drop-container {
        width: 148px;
        height: 148px;
        margin: 3px auto;
    }

    .square {
        width: 40px;
        min-height: 40px;
    }
    .button {
        min-width: 40px;
    }

    .drop-slot {
        margin: 2px;
        width: 40px;
        max-width: 40px;
        height: 40px;
    }
    .drag-text {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .btn-drag {
        margin: 0;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width: 320px) {
    /* Styles */
    .game-container {
        margin-top: 38px;
        width: 300px;
        height: 300px;
    }
    .center-text {
        width: 100%;
        padding: 0 25px;
        text-align: center;
        border: solid 1px gold;
    }
    .instructions {
        height: 38px;
        top: 0;
    }
    .drop-board {
        width: 150px;
    }

    .square {
        width: 40px;
        min-height: 40px;
    }
    .drop-slot {
        margin: 2px;
        width: 40px;
        max-width: 40px;
        height: 40px;
    }
    .drag-text {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .button {
        min-width: 40px;

    }
    .btn-drag {
         margin: 0;
    }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width: 1224px) {
    /* Styles */
    /* keep dimensions */
}

/* Large screens ----------- */
@media only screen
and (min-width: 1824px) {
    /* Styles */
    /* keep dimensions */
}

/* ----------- iOS ----------- */

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    /* Styles */
    /* need to re-size dimensions!! */
    h1 {
        font-size: 60px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 56px;
    }
    h6 {
        font-size: 22px;
        margin: 10px auto;
    }
    li {
        line-height: 1.5em;
        height: 75px;
    }
    .game-container {
        margin-top: 76px;

        width: 600px;
        height: 600px;

        background-color: rgba(222, 222, 222, 0.1)
    }
    .instructions {
        height: 125px;
        top: 20px;
    }

    .game-controls {
        height: 90px;
    }

    .drop-board {
        width: 300px;
    }

    .drop-container {
        width: 259px;
        height: 259px;
        margin: 9px auto;
    }

    .square {
        width: 75px;
        min-height: 75px;
    }

    .drop-slot {
        margin: 5px;
        width: 75px;
        max-width: 75px;
        height: 75px;
    }
    .drag-text {
        width: 75px;
        height: 75px;
        line-height: 75px;
    }
    .button {
        min-width: 52px;
    }
    .btn-drag {
        margin: 5px;
    }
    .row-indicator {
        width: 20px;
        height: 75px;
        padding-top: 20px;
        margin-top: 20px;
    }
    .row-indicator-left {
        margin-top: 30px;
    }
    .row-indicator-right {
        margin-top: 30px;
        right: 0;
    }
    .column-indicator {
        margin-top: -8px;
        width: 100px;
        margin-left: 0;
        margin-right: 0;
        border:1px #A29 solid;
    }
    .column-indicator p{
        margin-top: -28px;
    }
    .column-indicator-bottom {
        margin-top: 190px;
    }
    .column-indicator-bottom h3 {
        margin-top: 58px;
    }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
    /* Styles */
    .game-container {
        margin-top: 76px;

        background-color: rgba(250, 50, 0, 0.01)
    }

}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
    /* Styles */
    .game-container {
        margin-top: 170px;
        background-color: rgba(50, 50, 250, 0.1)
    }
}

/* iPhone 3g -----------*/
@media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1) {
    /* Styles */
    .game-container {
        width: 300px;
        height: 300px;
        margin-top: 38px;

        background-color: rgba(10, 10, 250, 0.1)
    }
    .instructions {
        height: 38px;
        top: 0;
    }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    /* can`t put sizing here as it interferes with the iPad!*/
}

/* iphone 4 (landscape) -----------  */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (orientation: landscape) {
    /* Styles */
    .game-container {
        margin-top: 0;
        background-color: rgba(250, 175, 210, 0.1)
    }
    .instructions {
        height: 38px;
        top: 0;
    }

}

/* iphone 4 (portrait) ( and iPhone portrait 5 too )----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (orientation: portrait) {
    .game-container {
        margin-top: 76px;
        background-color: rgba(72, 209, 204, 0.1)
    }
    .instructions {
        height: 38px;
        top: 0;
    }
    .game-controls {
        height: 90px;
    }
}

/* iPhone 5 ----------- */
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    .game-container {
        background-color: rgba(100, 175, 25, 0.01)
    }
}

/* iPhone 5 (landscape) ----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: landscape) {
    .game-container {
        background-color: rgba(100, 200, 25, 0.1)
    }
    .instructions {
        height: 38px;
        top: 0;
    }

    .drag-drop {
        top: 35px;
        width: 300px;
        height: 240px;
    }

    .drop-zone {
        height: 145px;
    }

    .drag-home {
        height: 95px;
    }
}

/* iPhone 6 ---------- */
@media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
    h6 {
        font-size: 18px;
        margin: 10px auto;
    }
    .center-text {
        width: 90%;
        border: solid 1px gold;
    }
    .game-container {
        background-color: rgba(250, 150, 230, 0.1);
        margin-top: 100px;
    }
    .instructions {
        height: 38px;
        top: 10px;
    }

    .drop-container {
        width: 138px;
        height: 138px;
        margin: 0 auto;
    }

}

/*iPhone 6 (landscape) ---------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
    .game-container {
        background-color: rgba(250, 150, 251, 0.1)
    }
    .instructions {
        height: 38px;
        top: 0;
    }

    .drag-drop {
        top: 45px;
        width: 300px;
        height: 240px;
    }

    .drop-zone {
        height: 145px;
    }

    .drag-home {
        height: 95px;
    }

    .drop-container {
        width: 138px;
        height: 138px;
        margin: 0 auto;
    }
}

/* iPhone 6 Plus ---------- */
@media screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
    h6 {
        font-size: 18px;
        margin: 10px auto;
    }
    .center-text {
        width: 90%;
        border: solid 1px gold;
    }
    .game-container {
        background-color: rgba(250, 30, 250, 0.1);
        margin-top: 100px;
    }
    .instructions {
        height: 38px;
        top: 20px;
    }

    .game-controls {
        height: 90px;
    }

    .drop-container {
        width: 138px;
        height: 138px;
        margin: 0 auto;
    }
}

/*iPhone 6 Plus (landscape) ---------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
    .game-container {
        margin-top: 50px;

        background-color: rgba(190, 200, 250, 0.1);
    }
    .instructions {
        height: 38px;
        top: 0;
    }
    .drag-drop {
        top: 35px;
        width: 300px;
        height: 240px;
    }
    .drop-zone {
        height: 145px;
    }

    .drag-home {
        height: 95px;
    }

    .drop-container {
        width: 138px;
        height: 138px;
        margin: 0 auto;
    }
}