/*moved from the orignal app*/


.button.play {
    position: absolute;
    right: -webkit-calc(25% - 60px);
    bottom: 18%;
    font-size: 50px;
    line-height: 80px;
    color: #313437;
    border-color: #313437;
}
.button.play.activated {
    color: #f8f8f2;
    background-color: #313437;
}


/*GAMEBOARD DIRECTIVE*/
.view-port {
    position: relative;
}
.view-port .game-row {
    height: 25%;
    width: 100%;
    background-color: #f8f8f2;
    position: absolute;
}
.view-port .game-row span {
    display: inline-block;
    margin: 0;
    height: 100%;
    width: 25%;
    background-color: #f8f8f2;
    border: 1px solid #313437;
}
.view-port .game-row .black {
    background-color: #313437;
}
.view-port .game-row .red {
    background-color: #f1274e;
}
.view-port .game-row .green {
    background-color: #a6d627;
}

.pause {
    position: absolute;
    top: 10px;
    left: 10px;
}

.score {
    position: absolute;
    top: 10px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
    border-color: #b2b2b2;
    background: #b2b2b2;
    color: #f8f8f2;
    display: inline-block;
    padding: 0 12px;
    min-width: 52px;
    min-height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    vertical-align: top;
    text-align: center;
    font-size: 26px;
    line-height: 42px;
}

/*GAMEOVER*/
.popup-title {
    font-size: 22px;
}

.highscore {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 50px;
    padding: 20px 0;
}

.popup-buttons .button.again {
    color: #313437;
    border-color: #313437;
}
.popup-buttons .button.again.activated {
    color: #f8f8f2;
    background-color: #313437;
}

/*COUNTDOWN*/
.countdown {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
}

.countdown span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    color: #f8f8f2;
    font-size: 50px;
}

/*ANIMATIONS*/
@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0.2;
    }
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0.2;
    }
}

.flash {
    -webkit-animation: flash 1s infinite;
    animation: flash 1s infinite;
}
.bg-chess div {
    float: left;
    display: block;
    width: 50%;
    height: 50%;
}

.bg-chess div:nth-child(2), .bg-chess div:nth-child(3) {
    background-color: #313437;
}