<ion-view title="PhoneRTC - Login" hide-back-button="false">
  <i class="icon ion-loading-c progress-bar-icon" ng-if="loading"></i>
    <p>properties | loading: {{loading}}</p>

  <ion-content>
    <div class="list" ng-hide="loading">
      <label class="item item-input">
        <input type="text" placeholder="Name" ng-model="data.name">
      </label>
    </div>

    <div class="padding" ng-hide="loading">
      <button class="button button-block button-positive" ng-click="login()">Login Please</button>
    </div>
      <div>
          <p>properties | loading: {{loading}}</p>
      </div>

      <div class="padding">
          <p>Testing the signaling: {{hasSignaling}}</p>
      </div>
  </ion-content>
</ion-view>