
.column {
    height: getColumnHeight(map-get($settings, "column-height"), map-get($settings, "margin"));
    float: left;
    width: getColumnWidth(map-get($settings, "column-width"), map-get($settings, "columns"), map-get($settings, "margin"));
    margin: map-get($settings, "margin") map-get($settings, "margin");
    background: $warning;
}

// defines the row
.row {
    display: block;
    border: solid 1px $green;
    margin: map-get($settings, "margin") 0;
}

.controls-row {
//    position: absolute;
    width: map-get($settings, "row-width");
    bottom: map-get($settings, "margin");
    border: solid 1px $pink;
}
