
.column {
    height: map-get($settings, "column-height");
    float: left;
    width: map-get($settings, "column-width");
    margin: 0;
    border: solid 2px black;
    background: $offWhite;
}

// defines the row
.row {
    display: block;
    border: solid 1px $green;
    margin: map-get($settings, "margin") 0;
}

.controls-row {
    position: absolute;
    width: 100%;
    bottom: 0; // map-get($settings, "margin");
    border: solid 2px black;
    background: $red;
    opacity: 0.25;
}
