/* defines the basic grid for the app */
.column {
  height: map-get($settings, "column-height");
  float: left;
  width: map-get($settings, "column-width");
  margin: 0;
}

// defines the row
.row {
  display: block;
  margin: 0 0;
}

// row for with the instructions
.instructions-row {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
//  background: $veryLightBlue;
}

// the row which contains the actual game
// ( the position needs to be defined as `absolute` as it holds elements which have to be positioned with z-index
.game-row {
  position: absolute;
}

// the row with the buttons
.controls-row {
  position: absolute;
  width: 100%;
  bottom: 0;
}
