.instruction-text {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  //  border: solid 1px $red;
}

.game-board {
  display: block;
  background: $gameBoardbackground;
  margin-top: getBoardMargin('phone');
  border: solid 2px $dragBorderColor;
}

// shared ui element, it's dimensions are to be evaluated by media queries
.square {
  display: block;
}

// the container for the draggable items
.drag-container {
  position: relative;
}

// the static square which is `home` for each of the draggable squares
.bgd-drag-square {
  background-color: $lightGreen;
  border: 2px solid $dragBorderColor;
  //TODO enlarge margin for tablet?
  margin: 2px;
}

// the container for the all draggable items
.drag-bgd {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}



// define an index so there can be a background behind
.drag-items {
  @extend .drag-bgd;
    z-index: 2;
}

// the draggable button
.btn-draggable {
  background-color: $dragColor;
  border: 2px solid $dragBorderColor;
  width: 100%;
  height: 100%;
  // move to mixin...
  display: flex;
  justify-content: center;
  align-items: center;
}

// a container for the drag item's title
.drag-text {
  width: 100%;
  height: 100%;
  // move to mixin...
  display: flex;
  justify-content: center;
  align-items: center;
}

// the text for the drag item's title
// see: http://css-tricks.com/adding-stroke-to-web-text/ ( TODO document this )
.drag-text h1 {
  text-align: center;
  margin: 0;
  color: $dragBorderColor;
  -webkit-text-fill-color: $offWhite; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $dragBorderColor;
}


.drop-slot {
  border: dotted 1px $dragBorderColor;
//  background-color: $lightYellow;
}










