.btn-info {
  color: #fff;
  background-color: $buttonColor;
  border-color: #46b8da;
  text-align: center;
  font-weight: bold;
}

.square {
  display: block;
}

.bgd-drag-square {
  background-color: $lightGreen;
}


.drag-container {
  position: relative;
}


.drag-item {
  display: block;
  position: absolute;
}

.top {
  z-index: 2;
  top: 0;
  left: 0;
}

.bottom {
  z-index: 1;
  top: 0;
  left: 0;
}





.drag-bgd {
  position: absolute;
  z-index: 1;
}

