//defines various ui elements

// the instruction text at the top
.instruction-text {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}

// the contianer for the indicators
.indicator-container {
  z-index: 2;
}

//the container for the drop items
.drop-container {
  z-index: 3;
}

// holds the drop items
.game-board {
  display: block;
  background: $gameBoardbackground;
  border: solid 2px $dragBorderColor;
}

// holds the indicators
.game-board-large {
  display: block;
  margin-top: getBoardMargin('phone');
}

// shared ui element, it's dimensions are to be evaluated by media queries
.square {
  display: block;
}

// the container for the draggable items
.drag-container {
  position: relative;
}

// the static square which is `home` for each of the draggable squares
.bgd-drag-square {
  background-color: $lightGreen;
  border: 2px solid $dragBorderColor;
  margin: 2px;
}

/* ----- indicators ----- */

//colors the text for indicator text
.indicator-square h5 {
  color: $buttonColor;
}

.indicator-square {
}

/* Shared indicator vars */
$indicatorMarginTop: 50px;
$indicatorMarginLeft: 55px;
$indicatorBottomMarginTop: -25px;

// indicator styles
.indicator-top-left {
  margin-top: $indicatorMarginTop;
  margin-left: $indicatorMarginLeft;
  text-align: right;
}

.indicator-top-right {
  margin-top: $indicatorMarginTop;
  margin-left: -$indicatorMarginLeft;
}

.indicator-top {
  margin-top: $indicatorMarginTop;
}

.indicator-bottom {
  margin-top: $indicatorBottomMarginTop;
}

.indicator-right {
  margin-left: -$indicatorMarginLeft;
}

.indicator-left {
  margin-left: $indicatorMarginLeft;
  text-align: right;
}

.indicator-bottom-left {
  margin-top: $indicatorBottomMarginTop;
  margin-left: $indicatorMarginLeft;
  text-align: right;
}

.indicator-bottom-right {
  margin-top: $indicatorBottomMarginTop;
  margin-left: -$indicatorMarginLeft;
}

// the container for the all draggable items
.drag-bgd {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

// define an index so there can be a background behind
.drag-items {
  @extend .drag-bgd;
  z-index: 2;
}

// the draggable button
.btn-draggable {
  background-color: $dragColor;
  border: 2px solid $dragBorderColor;
  width: 100%;
  height: 100%;
  // move to mixin...
  display: flex;
  justify-content: center;
  align-items: center;
}

// a container for the drag item's title
.drag-text {
  width: 100%;
  height: 100%;
  // move to mixin...
  display: flex;
  justify-content: center;
  align-items: center;
}

// the text for the drag item's title
// see: http://css-tricks.com/adding-stroke-to-web-text/ ( TODO document this )
.drag-text h1 {
  text-align: center;
  margin: 0;
  color: $dragBorderColor;
  -webkit-text-fill-color: $offWhite; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $dragBorderColor;
}

// defines decoration for the target element the drag items
.drop-slot {
  border: dotted 1px $dragBorderColor;
}

// shared style for all the buttons
.control-button {
  display: inline;
  margin-right: 10px;
}

.test {
  border: dotted 2px $dragBorderColor;
}










