<div class="column">
    <div class="row instructions-row flex-container">
        <div>
            <h2 class="center-text">Instructions</h2>
            <p class="landscape center-text">Landscape</p>

            <p class="portrait center-text">Portrait</p>

            <p class="retina-2x center-text">retina2x</p>

            <p class="retina-3x center-text">retina3x</p>
        </div>

    </div>
    <div class="row game-row flex-container">
        <div class="game-container flex-container-all-column">
            <div class="game-board flex-container-multiple-rows">
                <div class="square yellow"></div>
                <div class="square yellow"></div>
                <div class="square yellow"></div>

                <div class="square yellow"></div>
                <div class="square yellow"></div>
                <div class="square yellow"></div>

                <div class="square yellow"></div>
                <div class="square yellow"></div>
                <div class="square yellow"></div>
            </div>
            <div class="drag-container flex-container-multiple-rows">
                <div class="square yellow"></div>
                <div class="square yellow"></div>
                <div class="square yellow"></div>

                <div class="square yellow"></div>
                <div class="square yellow"></div>
                <div class="square yellow"></div>

                <div class="square yellow"></div>
                <div class="square yellow"></div>
                <div class="square yellow"></div>
            </div>
        </div>


    </div>
    <div class="row controls-row flex-container">
        <h2 class="center-text">Controls</h2>
    </div>
</div>



