<div ng-if="true" class="column" ng-controller="Master as master">

    <div ng-if="false">
        <h1>Magic Squares Game</h1>
        <h2>Instructions</h2>
        <h3>Headline 3</h3>
        <h4>Headline 4 </h4>
        <h5>Headline 5</h5>
        <p>paragraph - ipsum whatever </p>
    </div>
    <div ng-if="true" class="row instructions-row flex-container">
        <!--<div>-->
            <!--<h2 class="center-text">Instructions</h2>-->
            <!--<p class="landscape center-text">Landscape</p>-->

            <!--<p class="portrait center-text">Portrait</p>-->

            <!--<p class="retina-2x center-text">retina2x</p>-->

            <!--<p class="retina-3x center-text">retina3x</p>-->
        <!--</div>-->
        <!--THE INSTRUCTIONS-->
        <div class="instructions flex-container-all-column" ng-controller="Instructions as instructions" style="padding-top:5px">
            <h3 ng-if='!master.checked' class="center-text"><strong>Magic Square Puzzle</strong></h3>
            <h5 ng-if='!master.checked' class="instruction-text">{{instructions.instructions}}</h5>
            <h3 class="center-text" ng-if="master.checked && master.allCorrect" style="margin-top:5px">Well done
                all correct!</h3>
            <h3 class="center-text" style="margin-top:20px"
                ng-if='master.checked && master.complete && !master.allCorrect'>Try again!</h3>
        </div>

    </div>
    <!--THE WHOLE `DRAG DROP` AREA-->
    <div ng-if="true" class="row game-row flex-container" ng-controller="DragDrop as dragDrop">
        <div class="game-container flex-container-all-column">
            <div class="game-board flex-container-multiple-rows">


                <div class="square drop-slot flex-container" ng-repeat="drop in dragDrop.dropTargets track by $index">


                    <div class="btn btn-droppable square flex-container" data-drop="true" ng-model='dragDrop.selectedItems'
                         jqyoui-droppable="{index: {{$index}}, onDrop:'dragDrop.dropCallback($index)',onOver: 'dragDrop.overCallback(data-drag)', onOut: 'dragDrop.outCallback($index)'}">
                        <div class="btn-draggable square"
                             ng-show="dragDrop.selectedItems[$index].title"
                             data-drag="{{dragDrop.selectedItems[$index].drag}}"
                             data-jqyoui-options="{revert: 'invalid'}"
                             ng-model="dragDrop.selectedItems"
                             jqyoui-draggable="{index: {{$index}},placeholder:true,animate:false}">
                            <span class="drag-text"><h1>{{dragDrop.selectedItems[$index].title}}</h1></span>
                        </div>
                    </div>


                </div>

            </div>



            <div class="drag-container">
                <!-- FOR DRAG ITEMS -->
                <div class="top flex-container-multiple-rows drag-items">
                    <div ng-repeat="item in dragDrop.dragItems track by $index" class="square bgd-drag-square flex-container" data-drop="true" ng-model='dragDrop.dragItems' jqyoui-droppable="{index: {{$index}}}">
                        <div class="btn-draggable" data-drag="{{item.drag}}"
                             data-jqyoui-options="{revert: 'invalid'}" ng-model="dragDrop.dragItems"
                             jqyoui-draggable="{index: {{$index}},placeholder:true,animate:false, onStart:'dragDrop.startCallback(item, $index)', onStop: 'dragDrop.stopCallback', onDrag: 'dragDrop.dragCallback'}"
                             ng-hide="!item.title">
                            <span class="drag-text">
                                <h1>{{item.title}}</h1>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <div ng-if="true" class="row controls-row flex-container">


        <!--style="margin-top: 5px; margin-left: 10px; padding-right: 4px;"-->
        <form class="flex-container-all-row" style="padding-top: 1%">
            <span ng-if="false">complete {{master.complete}}, selected {{master.selected}}, checked {{master.checked}} hint {{master.hint}}</span>

            <button style="display: inline; margin-right: 10px;"
                    class="button button-balanced" type="submit" ng-click="master.check()"
                    ng-disabled="!master.complete || master.checked">Check
            </button>
            <button style="display: inline; margin-right: 10px;"
                    class="button button-balanced" type="submit" ng-click="master.clear()"
                    ng-disabled="!master.selected > 0">Clear
            </button>
            <button style="display: inline; margin-right: 10px;"
                    class="button button-balanced" type="submit"
                    ng-click="master.hint =! master.hint">Hint
            </button>
        </form>
    </div>
</div>


<span ng-if="false" data-drag="true" jqyoui-draggable>So you think you can drag</span>



