// a map of settings
$settings: (
    max-width: 1024px,
    columns: 1,
    margin: 1%,
    column-width: 100%,
    column-height: 100%,
    row-width: 98%,

    game-row-height: 300px,
    game-dimension: 300px,
    game-row-height-phone-landscape: 275px,
    game-row-height-tablet-landscape: 570px,

    game-height-phone-landscape: 275px,
    game-height-tablet-landscape: 550px,
    game-width: 90%,
    game-margin: 5px,

    drag-container-width: 80%,
    drag-container-height: 100px,
    drag-container-margin: 0,

    board-dimension: 150px,
    board-margin: 2px,

    instruction-row-height: 50px,
    controls-row-height: 45px,

    square-dimension: 45px,
    square-margin: 2px
);
